<div class="email">
    <label for="email">Email Address</label>
    <div class="sec-2">

      <input type="email" name="email" placeholder="Username@gmail.com" />
    </div>
  </div>
  <div class="password">
    <label for="password">Password</label>
    <div class="sec-2">
      <input class="pas" type="password" name="password" placeholder="············" />
    </div>
  </div>
  <button class="login">Login </button>
  <div class="footer"><span>Signup</span><span>Forgot Password?</span></div>
  <span>Login with</span>
  <div class="sso-login">
    <a><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/2048px-Google_%22G%22_logo.svg.png" alt="" width="50"></a>
    <a><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png" alt="" width="50"></a>
    <a><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/625px-Apple_logo_black.svg.png" alt="" width="50"></a>
  </div>